@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
  background-color: rgb(235, 235, 235);
  font-family: 'Montserrat';
}

h2 {
  font-size: large;
}

#inputStyle {
  font-family: 'Montserrat';
  width: 200px
}

button {
  font-family: 'Montserrat';
}

/* login page */

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  align-items: center;
  background-color: rgba(112, 80, 80, 0.416);
  width: 300px;
  height: 200px;
  margin: 5px 10px 5px 50px;
}

.loginForm {
  margin: 5px 10px 5px 50px;
}

.noAccount {
  margin: 5px 10px 5px 50px;
}

/* signup page */

.signupPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer {
  display: flex;
  align-items: center;
  background-color: rgb(198, 198, 198);
  width: 300px;
  height: 200px;
  margin: 5px 10px 5px 50px;
}

.signupForm {
  margin: 5px 10px 5px 50px;
}

.goBackLogin {
  margin: 5px 10px 5px 50px;
}

/* itinerary page */

.pageTitle {
  text-align: center;
}

.itineraryPageContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.mapContainer {
  width: 500px;
  height: 700px;
}

.searchPlace {
  display: inline-block;
}

.activitiesColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.603);
  width: 200px;
  margin-left: 50px;
}

.activities {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 175px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: visible;
}

.activityBox {
  margin: 0px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  background-color: rgba(112, 80, 80, 0.416);
}

.fullItineraryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(198, 198, 198);
  margin-left: 50px;
  overflow: auto;
  overflow-y: hidden;
}

.itineraryContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(198, 198, 198);
  height: 70vh;
  width: 80vh;
  margin-left: 20px;
  margin-right: 20px;
}

.itineraryColumns {
  display: flex;
  justify-content: center;
  background-color: rgba(112, 80, 80, 0.416);
  min-width: 175px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcomePageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItineraries {
  background-color:beige;
  width: 40%;
  height: 80vh;
  margin-top: 5%;
  margin-left: 2%

}

.searchItinerary {
  margin-left: 10rem;
  width: 30%;
}

.load {
  width: 40%;
}

.create {
  width: 40%;
  margin-right: 20%;
}

.listItinerariesH2 {
  text-align: center;
}
