.mapContainer {
  width: 400px;
  height: 400px;
}

.searchAndSubmitContainer {
  display: flex;
}

.itineraryPageContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.activitiesColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  width: 200px;
  margin-left: 50px;
}

.itineraryContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(198, 198, 198);

  margin-left: 50px;
}

.itineraryColumns {
  display: flex;
  justify-content: center;
  background-color: rgb(178, 41, 41);
  width: 100px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 25px;
}

h1 {
  font-size: large;
}

.welcomePageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItineraries {
  background-color:beige;
  width: 40%;
  height: 80vh;
  margin-top: 5%;
  margin-left: 2%

}

.searchItinerary {
  margin-left: 10rem;
  width: 30%;
}

.load {
  width: 40%;
}

.create {
  width: 40%;
  margin-right: 20%;
}

.listItinerariesH2 {
  text-align: center;
}
